<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">
                            Import CSV / Excel File
                        </h4>
                        <p class="category">Upload data here.</p>
                        <br>
                    </div>
                    <div class="content">
                            <hr>
                        <div class="form-group">
                            <label for="exampleInputFile">CSV / Excel File:</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Select file for upload.</p>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-info btn-fill">Upload</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
