<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height: 500px;">
                <lbd-chart
                  [title]="'Resurse actuale'"
                  [subtitle]="'Resurse de sange actuale'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="bloodChartType"
                  [chartData]="bloodChartData"
                  [chartOptions]="bloodChartOptions"
                  [legendItems]="bloodChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'Last update - 2 days ago'">
                </lbd-chart>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Actualizare Resurse Actuale</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupa A</label>
                                    <input type="numver" class="form-control" placeholder="%">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupa B</label>
                                    <input type="numver" class="form-control" placeholder="%">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupa AB</label>
                                    <input type="numver" class="form-control" placeholder="%">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Grupa 0</label>
                                    <input type="numver" class="form-control" placeholder="%">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-info btn-fill">Update</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
