<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Admin Users</h4>
                            <p class="category">All admin users</p>
                        </div>
                        <div class="content table-responsive table-full-width">
                              <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tableData1.dataRows">
                                            <td *ngFor="let cell of row">{{cell}}</td>
                                            <td><a href="/users/{{row[0]}}">View</a></td>
                                        </tr>
                                    </tbody>
                              </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
