<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://treivieti.ro/termeni-si-conditii/">
                        Terms and Conditions
                    </a>
                </li>
                <li>
                    <a href="mailto:treivieti@gmail.com">
                        Support
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://treivieti.ro/">Trei Vieti</a>
        </p>
    </div>
</footer>
